.idea

products/src/main/resources/application.yml
products/src/main/resources/schema.sql
products/target
products/.gitignore

carts/src/main/resources/application.yml
carts/src/main/resources/schema.sql
carts/target
carts/.gitignore

configserver/src/main/resources/application.yml
configserver/src/main/resources/config
configserver/target
configserver/.gitignore