# Ignore IntelliJ IDEA project files
.idea/

# Ignore target directories (build outputs) in all submodules
**/target/

# Ignore application.yml files containing sensitive or environment-specific configurations
**/application.yml

# Ignore schema.sql files (optional, if they are environment-specific and not versioned)
**/schema.sql

# Ignore specific config directories (optional, if they are environment-specific)
**/config/

# Ignore .gitignore files (already versioned and don't need exclusion)
*.gitignore